.change-members-popover {
  color: var(--ds-text, #172b4d);
  background: var(--ds-surface-overlay, #fff);

  .change-members-content {
    padding: 0 12px 12px 12px;
    background: var(--ds-surface-overlay, #fff);
    border-radius: 10px;

    .members-search-input {
      width: 280px;
      background-color: var(--ds-background-input, #fff);
      border: none;
      border-radius: 3px;
      display: block;
      line-height: 20px;
      margin-bottom: 12px;
      outline: none;
      padding: 8px 12px;
      transition-duration: 85ms;
      transition-property: background-color, border-color, box-shadow;
      transition-timing-function: ease;
      box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4224);
      color: var(--ds-text, #172b4d);
      &:focus {
        background-color: var(--ds-background-input, #ffffff);
        box-shadow: inset 0 0 0 2px var(--ds-border-focused, #388bff);
      }

      &::placeholder {
        color: var(--ds-text-subtlest, #626f86);
      }
    }

    .members-sub-title {
      font-size: 12px;
      font-weight: 600;
      color: var(--ds-text-subtle, #44546f);
    }

    .no-members-found {
      margin: 0;
      padding: 24px 6px;
      border-radius: 3px;
      background-color: var(--ds-background-neutral, #091e420f);
      color: var(--ds-text-subtle, #44546f);
      text-align: center;
    }
  }
}
