.user-msg {
    position: fixed;
    z-index: 100000;
    bottom: 20px;
    left: 20px;
    height: 64px;
    width: 400px;
    padding: 10px;
    font-size: 1.4em;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    //   justify-content: center;
    font-size: 14px;
    color: var(--ds-text, #172b4d);
    font-weight: 600;
    word-break: break-word;

    .user-msg-icon {
        font-weight: 200;
        font-size: 24px;
        margin-left: 4px;
        margin-right: 16px;

        &.icon-check-circle {
            color: #22a06b;
        }
    }

    .close-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: auto;
        .icon-close {
            font-size: 16px;
        }
    }
}
