.board-list-container {
    height: 100%;

}

.board-list {
    max-width: 256px;
    background-color: #f0f2f4;
    margin-top: 10px;
}

.board-list.custom-card .ant-card-body {
    padding: 8px !important;
}

.board-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.board-list-header .list-more-btn {
    border: none;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: none;
    background-color: #f0f2f4;
}

.board-list-header .list-more-btn:hover {
    background-color: #d0d4dc !important;
}

.board-list-header .list-more-btn .anticon {
    color: #2c3e50; // Darker color for the ellipsis icon
}

.board-list .list-title {
    width: 204px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 8px 6px 12px;
    margin: 0;
}

.list-title-input {
    border-radius: 6px;
    border: 2px solid #5f8eec;
    font-weight: 600;
}

.board-list-main {
    display: flex;
    flex-direction: column;
    gap: 8px;
}