.card-label.minimized {
    min-width: 56px;
    height: 8px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background: none;
    padding: 0;
    margin: 80x 0 0 0;
    outline: none;
}

.card-label.expanded {
    min-width: 56px;
    height: 16px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background: none;
    padding: 0 8px;
    margin: 0;
    outline: none;
    font-size: 12px;
    font-weight: 500;
}