.list-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 6px;
}

.list-footer .add-card-btn {
    // width: 100%;
    border: none;
    border-radius: 4px;
    padding: 8px;

    display: flex;
    /* Ensure flexbox is used */
    align-items: center;
    justify-content: start;
    background-color: var(--tr-background-list);
    color: var(--ds-text-subtle);
}

.list-footer .add-card-btn:hover {
    background-color: var(--ds-background-neutral-hovered, #091e4224);
    color: white;
}

.list-footer .use-template-btn {
    border-radius: 4px;
    padding: 8px;
    border: none;
    background-color: var(--tr-background-list);
    color: var(--ds-text-subtle);

    span {
        font-size: 16px;
    }
}

.list-footer .use-template-btn:hover {
    background-color: var(--ds-background-neutral-hovered, #091e4224);
    color: var(--ds-text);
}

.template-card {
    width: 16px;
    height: 16px;
}