.list-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.list-footer .add-card-btn {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    /* Ensure flexbox is used */
    align-items: center;
    justify-content: start;
    background-color: #f0f2f4;
    // color: var(--color-white);
}

.list-footer .add-card-btn:hover {
    background-color: #d0d4dc;
}

.list-footer .use-template-btn {
    border-radius: 4px;
    padding: 8px;
    border: none;
    background-color: #f0f2f4;
}

.list-footer .use-template-btn:hover {
    background-color: #d0d4dc;
}

.template-card {
    width: 16px;
    height: 16px;
}