.list-card {
    margin-top: 10px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        outline: 2px solid blue;
    }
}

.list-card.custom-card .ant-card {
    margin: 10px 0 0 0 !important;
}

.card-bg-cover .ant-card-body {
    min-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-bg-cover .ant-card-body .list-card-content {
    font-weight: 600;
    font-size: 16px;
}

.list-card.custom-card .ant-card-body {
    padding: 0 !important;
}

.list-card-header {
    border-radius: 7px 7px 0 0 !important;
    // background-color: #21272b;
    min-height: 36px;
}

.list-card-content {
    padding: 6px;
}