.archived-items {
    padding: 12px 12px 8px 12px;
    .task {
        margin: 8px 22px 16px 22px;
        .custom-card {
            box-shadow: var(
                --ds-shadow-raised,
                0px 1px 1px #091e4240,
                0px 0px 1px #091e424f
            );
        }
        .buttons {
            display: flex;
            align-items: center;
            gap: 4px;
            margin: 4px 0 8px 8px;
            color: var(--ds-text-subtle, #44546f);
            .button {
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
            }
        }
    }
}
