// .board-index {
//     .board-list {
//         list-style: none;
//         display: flex;
//         flex-wrap: wrap;

//         li {
//             background-color: $clr2;
//             color: $clr6;
//             padding: 5px;
//             margin: 5px;
//         }

//         a {
//             color: $clr1;
//             padding: 10px;
//         }

//         h3 {
//             background-color: #ddd;
//             padding: 10px 5px;
//             margin: 5px;
//         }
//     }
// }

.board-index {
    width: 100vw;
    height: 100%;
    overflow-x: auto;

    .droppable-board {
        background-color: red;
        height: 100%;
        width: 100%;
    }
    .bg {
        background-size: cover;
        background-position: center;
        padding-bottom: 0px;
        height: 100%;
    }

    //   padding: 10px;
    //   margin: 0;
    //   background-repeat: no-repeat;
    //   height: 100%;
    //   width: 100%;
    .board-container {
        height: 100%;
    }

    .board-groups {
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow-x: auto;
        padding: 2px 6px 8px 10px;
        height: calc(100% - 65px);
        scrollbar-color: #fff6 #00000026;
        scrollbar-width: auto;

        .board-list {
            box-sizing: content-box;
            border: none;
            width: 272px;
            margin: 10px 6px 0 6px;
        }
    }
}
