.workspace-drawer {
    .workspace-sidebar-closed {
        width: 16px;
        height: 100%;
        background-color: var(--color-bg-primary);
        position: relative;

        .open-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 16px;
            left: 4px;
            z-index: 9999;
            transform: rotate(180deg);
            border-radius: 50%;
            padding-top: 4px;
            border: 1px solid var(--dynamic-text-transparent, hsla(218, 54%, 19.6%, 0.16));
            border-radius: 50%;
            background-color: var(--ds-surface-overlay, #fff);
            width: 24px;
            height: 24px;

            .injected-svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    .workspace-sidebar-opened {
        display: flex;
        flex-direction: row;
        width: 260px;
        height: 100%;
        // background-color: var(--color-bg-primary);

        .workspace-sidebar-open-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 56px;
            padding: 12px 10px 12px 16px;
            backdrop-filter: blur(4px);
            border-bottom: 1px solid var(--dynamic-text-transparent, hsla(218, 54%, 19.6%, 0.16));
            // background-color: rgba(0, 0, 0, 0.24);

            .close-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                border: none;
                width: 28px;
                height: 28px;


                background-color: var(--color-bg-primary-hover);

                &:hover {
                    background-color: var(--ds-background-neutral-subtle-hovered);
                }

                .injected-svg {
                    margin-top: 3px;
                    width: 16px;
                    height: 16px;
                }
            }
        }

    }
}