.name-input {
  padding: 0;
  position: relative;
  .title {
    margin: 0;
    padding: 0 2px;
    font-size: 18px;
    font-weight: 700;
    // line-height: 20px;
  }
  span.title-input{
    position: absolute;
    opacity: 0;
    height: 0;
   padding-top: 0;
   padding-bottom: 0;
   margin: 0;
  }
  .title-input {
    appearance: none;
    color: var(--ds-text, #172b4d);
    background-color: var(--ds-background-input, #ffffff);
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: clip;
    transition: none;
    border-radius: 3px;
    &:focus {
      background-color: var(--ds-background-input, #ffffff);
      box-shadow: inset 0 0 0 2px var(--ds-border-focused, #388bff);
    }
  }
}
