.visibility-popover {
  background: var(--ds-surface-overlay, #ffffff);
  color: var(--ds-text, #172b4d);
  border-radius: 8px;
  margin: 0 !important;
  width: 384px;
  .menu-header {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 32px 1fr 32px;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 4px 8px;
    h2 {
      height: 40px;
      color: var(--ds-text-subtle, #44546f);
      line-height: 40px;
      font-size: 14px;
      font-weight: 600px;
      margin: 0;
      padding: 0;
      text-wrap: nowrap;
      grid-column: 2 / span 1;
    }
    span {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      justify-self: self-end;
      height: 32px;
      width: 32px;
      background: none;
      //   color: white;
      //   border: none;
      //   font-size: 14px;
      //   font-weight: 500px;
      line-height: 32px;
      //   justify-content: center;
      margin: 0;
      transition-duration: 0.085s;
      transition-property: background-color, border-color, box-shadow;
      transition-timing-function: ease;
      border-radius: 3px;
      svg {
        font-size: 16px;
      }
      &:hover {
        background: var(--ds-background-neutral-hovered);
      }
    }
  }
  .menu-body {
    padding-bottom: 12px;
    .popover-nav {
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          .btn {
            user-select: none;
            color: var(--ds-text-subtle, #44546f);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: left;
            border: none;
            background: none;
            padding: 6px 12px;

            .permission-icon {
              font-size: 16px;
            }
            &:disabled {
              color: var(--ds-text-disabled, #091e424f);
              pointer-events: none;
              span {
                color: var(--ds-text-disabled, #091e424f);
              }
            }

            &:hover {
              border: none;
              box-shadow: none;
              background: var(
                --ds-background-neutral-subtle-hovered,
                #091e420f
              );
              color: var(--ds-text, #172b4d);
              text-decoration: none;
            }
            span {
              display: flex;
              align-items: center;

              .icon {
                font-size: 16px;
                padding: 0 4px;
              }
            }
            .private-header {
              line-height: 20px;
              font-size: 14px;
              .icon {
                color: rgb(226, 72, 61);
              }
            }
            .public-header {
              .icon {
                color: rgb(42, 187, 127);
              }
            }

            div {
              margin-top: 4px;
              font-size: 12px;
              line-height: 16px;
              color: var(--ds-text-subtle, #44546f);
            }
          }
        }
      }
    }
  }
}
