.custom-select-item {
  width: 100%;
  background-color: var(--ds-background-input, #f4f5f7);
  color: var(--ds-text, #172b4d);
  border: 1px solid var(--ds-border-input, #7a869a);
  border-radius: 3px;
  outline: none;
  padding: 6px;
  appearance: none;
  display: flex;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    background-color: var(--ds-background-input-hovered, #ebecf0);
    border-color: var(--ds-border-input, #7a869a);
  }

  &:has(input:focus) {
    background-color: var(--ds-background-input, #ffffff);
    box-shadow: inset 0 0 0 2px var(--ds-border-focused, #388bff);
  }

  .custom-input {
    cursor: pointer;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: var(--ds-text, #172b4d);

    &::placeholder {
      color: var(--ds-text, #172b4d);
    }
  }

  .arrow-down {
    rotate: 270deg;

    rect {
      fill-opacity: 0;
    }
  }

  &:has(input:disabled) {
    cursor: not-allowed;
    background-color: rgba(188, 214, 240, 0.04);
    border-color: rgba(188, 214, 240, 0.04);

    .arrow-down {
      color: rgba(191, 219, 248, 0.28);
    }

    input {
      cursor: not-allowed;

      &::placeholder {
        color: rgba(191, 219, 248, 0.28);
      }
    }
  }
}

.custom-select-options {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  background-color: var(--ds-surface-overlay, white);
  box-shadow: var(
    --ds-shadow-overlay,
    0 0 0 1px hsl(0deg 0% 0% / 10%),
    0 4px 11px hsl(0deg 0% 0% / 10%)
  );
  border-radius: 4px;

  .option {
    position: relative;
    background: none;
    border: none;
    color: var(--ds-text, #172b4d);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 24px 18px 12px;
    text-align: left;

    &:hover {
      box-shadow: inset 2px 0px 0px var(--ds-border-selected, #0052cc);
      background-color: var(--ds-background-neutral-subtle-hovered, #f4f5f7);
    }
    &.current::before {
      content: "(current)";
      position: absolute;
      bottom: 0;
      color: var(--ds-text-subtle, #44546f);
    }
    &.selected.current::before {
      color: var(--ds-text-selected, #0052cc);
    }

    &.selected {
      color: var(--ds-text-selected, #0052cc);
      box-shadow: inset 2px 0px 0px var(--ds-border-selected, #0052cc);

      &:hover {
        background-color: var(--ds-background-selected-hovered, #deebff);
      }
    }
  }
}
