.board-details {
    .group {
        background-color: $gray1;
        padding: 1em;
        margin: 1em;
    }
    .task {
        background-color: $gray3;
        padding: 1em;
        margin: 1em;
    }
}