.task-details {
  position: absolute;
  inset: 56px 50% auto 50%;

  margin: 0 !important;
  transform: translate(-50%) !important;
  width: 768px !important;
  animation: none !important;
  opacity: 1 !important;

  .anticon-close {
    color: var(--ds-text, #172b4d);
  }

  .ant-modal-content {
    // position: absolute;
    // inset: 0;

    background-color: var(--ds-surface-overlay, #ffffff);
    color: var(--ds-text, #172b4d);

    .details-header-img-cover {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-top: -20px;


      img {
        object-fit: cover;
        // Add this line
        height: 100%; // Add this line
      }

      .dark {
        background-color: #0d1417;
      }

      .light {
        background-color: #f2f2fb;
      }

      .details-header-cover-actions-wrapper {
        position: absolute;
        right: 0;
        bottom: 12px;



        .cover-btn {
          border-radius: 3px;
          // color: var(--dynamic-text, #172b4d);
          cursor: pointer;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px 8px;


          .injected-svg {
            width: 16px;
            height: 16px;
            margin: 4px 4px 0 0;

          }
        }
      }
    }

    .details-header-color-cover {
      height: 116px;
      width: calc(100% + 48px);
      margin: -20px -20px 0 -24px;
      border-radius: 8px 8px 0 0;
      position: relative;

      .cover-btn {
        position: absolute;
        background-color: transparent;
        right: 12px;
        bottom: 12px;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;

        &:hover {
          background-color: var(--ds-background-neutral-hovered, #091e4224);
        }

        .injected-svg {
          width: 16px;
          height: 16px;
          margin: 4px 4px 0 0;

        }
      }
    }

    .details-header {
      display: flex;
      color: var(--ds-text, #172b4d);
      background-color: var(--ds-surface-overlay, #ffffff);

      .icon {
        font-size: 24px;
        line-height: 32px;
        margin-right: 10px;
        color: var(--ds-text-subtle, #44546f);
      }

      .info {
        display: flex;
        flex-direction: column;

        .task-name {
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          max-width: calc(100% - 20px);
          text-wrap: nowrap;
        }

        .task-group {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          padding-bottom: 8px;
          margin: 4px 8px 4px 2px;
          width: max-content;
          color: var(--ds-text-subtle, #44546f);

          a {
            color: inherit;
            text-decoration: underline;
          }
        }
      }
    }

    .details-body {
      height: min-content;
      display: grid;
      grid-template-columns: 552px 192px;

      .details-body__right {
        padding: 0 16px 8px 8px;

        section {
          margin-bottom: 24px;

          &:last-child {
            margin: 0;
          }

          p {
            margin: 0;
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            color: var(--ds-text, #172b4d);
          }
        }

        button {
          display: flex;
          cursor: pointer;
          width: 100%;
          height: 32px;
          text-align: left;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: var(--ds-text, #172b4d);
          background-color: var(--ds-background-neutral, #091e420f);
          border: none;
          border-radius: 3px;
          padding: 6px 12px;
          margin-top: 8px;
          align-items: center;

          &:hover {
            background-color: var(--ds-background-neutral-hovered, #091e4224);
            text-decoration: none;
          }

          >span {
            background: none;
            color: var(--ds-icon, #44546f);
            font-size: 16px;
            line-height: 16px;
            margin-left: -6px;
            margin-right: 6px;
          }
        }
      }

      .details-body__left {
        .subsection {
          display: flex;
          padding-left: 34px;
          div {
            max-width: 100%;
            margin: 0 16px 16px 0;
          }

          .members {
            .member {
              cursor: pointer;
              margin: 0 4px 4px 0;
            }
            .manage-members-popover {
              cursor: pointer;
              color: var(--ds-icon, #44546f);
              width: 32px;
              height: 32px;
              border-radius: 50%;
              border: none;
              background-color: var(--ds-background-neutral, #091e420f);
              margin: 0 4px 4px 0;

              &:hover {
                background-color: var(--ds-background-neutral-hovered, #091e4224);
                border: none;
                box-shadow: none;
                color: var(--ds-text, #172b4d);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}