.task-preview-badges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  margin-top: 5px;

  .task-bg-cover,
  .task-img-cover {
    display: none;
  }

  .aside-task-users {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  .aside-task-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
  }

  .aside-task-icons .task-preview-icons {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .task-icon-wrapper {
    display: flex;
    align-items: center;
    padding: 2px 4px 2px 2px;
    border-radius: 3px;

    &.checklist,
    &.dates {
      &.completed {
        background-color: var(--ds-background-success-bold, #1f845a);
        color: var(--ds-text-inverse, #ffffff);

        .task-icon {
          color: var(--ds-text-inverse, #ffffff);
        }
      }
    }

    &.dates {
      .hover-icon {
        display: none;
      }

      &.overdue {
        background-color: var(--ds-background-accent-red-subtler, #ffd2cc);
        color: var(--ds-text-accent-red, #ae2a19);

        .task-icon {
          color: var(--ds-text-accent-red, #ae2a19);
        }
      }

      &.recently-overdue {
        background-color: var(--ds-background-danger-bold, #ca3521);
        color: var(--ds-text-inverse, #ffffff);

        .task-icon {
          color: var(--ds-text-inverse, #ffffff);
        }
      }

      &.due-soon {
        background-color: var(--ds-background-warning-bold, #e2b203);
        color: var(--ds-text-warning-inverse, #172b4d);

        .task-icon {
          color: var(--ds-text-warning-inverse, #172b4d);
        }
      }

      &:hover {
        cursor: pointer;
        filter: saturate(85%) brightness(85%);

        .hover-icon {
          display: block;
          color: var(--ds-text-warning-inverse, #172b4d);
        }

        .default-icon {
          display: none;
        }
      }
    }

  }

  .task-icon {
    height: 16px;
    width: 16px;
    color: var(--ds-text-subtle);
  }

  .task-icon-count {
    font-size: 12px;
    margin-left: 4px;
  }
}