.ant-popover .ant-popover-inner {
  padding: 0;
}

.group-actions-menu-content {
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--ds-surface-overlay);
}

.group-actions-menu-content .menu-header {
  color: var(--ds-text-subtle);
  font-weight: 500;
  height: 30px;
  align-self: center;
  margin: 8px;
  user-select: none;
  cursor: text;
}

.group-actions-menu-content .menu-action {
  cursor: pointer;
  color: var(--ds-text);
  margin-block-start: 0;
  margin-block-end: 0;
  height: 32px;
  padding: 6px;
}

.group-actions-menu-content .menu-action:hover {
  background-color: #f1f2f4;
  overflow: hidden;
}

.group-actions-menu-content .last-action {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}