.ant-popover {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(
        --ds-shadow-overlay,
        0 8px 12px #091e4226,
        0 0 1px #091e424f
    );
}

.add-board-popover-content {
    width: 280px;
    padding: 0 12px 12px 12px;
    color: var(--ds-text-subtle, #44546f);
    background: var(--ds-surface-overlay, #fff);

    .header-hr {
        height: 1px;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--ds-border-subtle, #e2e4e6);
        margin: 16px 0 16px 0;
        border-color: var(--ds-border, #091e4224);
    }

    .title {
        color: var(--ds-text-subtle, #44546f);
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        margin: 12px 0 2px;
    }

    .selected-bg-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;

        .selected-bg {
            width: 200px;
            height: 120px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            .injected-svg {
                display: flex;
                align-self: center;
                justify-self: center;
                width: 186px;
                height: 103px;
                border-radius: 3px;
                background: none;
                background-position: center center;
                background-size: cover;
            }
        }
    }

    .bg-img-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .bg-img-option {
            width: 60px;
            height: 40px;
            border-radius: 3px;
            margin-right: 4px;
        }
    }

    .bg-color-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .bg-color-option {
            width: 40px;
            height: 32px;
            border-radius: 3px;
            margin-top: 8px;
        }
    }

    .board-name-input {
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        padding: 8px 12px;
        border-radius: 3px;
        background-color: var(--ds-background-input, #ffffff);
        width: 100%;
        margin-bottom: 0;
        border: 1px solid var(--ds-border-input, #091e4224);
        height: 32px;
        color: var(--ds-text, #172b4d);
        &:focus,
        &:active,
        &:focus-visible,
        &:focus-within {
            background-color: var(--ds-background-input, #ffffff);
            box-shadow: inset 0 0 0 1px var(--ds-border-focused, #388bff);
        }
    }

    .board-visibility-select {
        width: 100%;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        padding: 8px 12px;
        border-radius: 3px;
        background-color: var(--ds-background-input, #ffffff);
        width: 100%;
        margin-bottom: 0;
        border: 1px solid var(--ds-border-input, #091e4224);

        .ant-select-selector {
            border: none;
            box-shadow: none !important; // Ensure no box-shadow is applied

            &:focus,
            &:active,
            &:focus-visible,
            &:focus-within {
                border: none !important; // Ensure no border is applied
                box-shadow: none !important; // Ensure no box-shadow is applied
            }

            .ant-select-selection-item {
                &:focus,
                &:active,
                &:focus-visible,
                &:focus-within {
                    border: none !important; // Ensure no border is applied
                    box-shadow: none !important; // Ensure no box-shadow is applied
                }
            }
        }
    }

    .add-board-btn {
        width: 100%;
        height: 32px;
        margin: 16px 0 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
            "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif !important;
        border: none;
        border-radius: 3px;
        background-color: var(--ds-background-brand-bold, #0c66e4);
        box-shadow: none;
        color: var(--ds-text-inverse, #ffffff);
        font-weight: 500;
        cursor: pointer;

        &.disabled {
            border: none;
            background-color: var(--ds-background-disabled, #091e4208);
            box-shadow: none;
            color: var(--ds-text-disabled, #091e424f);
            cursor: not-allowed;
        }
    }

    .add-board-popover-desc {
        margin-top: 16px;
        font-size: 12px;
        line-height: 16px;
        text-align: left;
    }
}

.visibilty-select-option-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 108px;

    .injected-svg {
        width: 24px;
        height: 24px;
    }

    .element-content {
        .element-title {
            color: var(--ds-text, #172b4d);
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
                "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue",
                sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin: 0;
        }

        .element-txt {
            margin-top: 4px;
            font-size: 12px;
            font-weight: normal;
            line-height: 16px;
            white-space: normal;
        }
    }
}
