.workspace {
    &.user-boards-bg {
        background-color: #fff;
    }

    .workspace-content {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: calc(100vh - 48px);
    }
}