// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
// @import "setup/typography";

// Basics
// @import "basics/helpers";
// @import "basics/layout";
@import "basics/base";
// @import "basics/links";
// @import "basics/forms";

// Views
@import "views/AboutUs";
// @import "views/HomePage";
// @import "views/CarIndex";
// @import "views/ReviewIndex";
// @import "views/UserDetails";
@import "views/BoardIndex";
@import "views/BoardDetails";
@import "views/TaskDetails";

// Components
@import "cmps/BoardHeader-cmps-scss/VisibilityButton.scss";
@import "cmps/BoardHeader-cmps-scss/BoardButton.scss";
@import "cmps/AppHeader";
@import "cmps/AppFooter";
@import "cmps/UserMsg";
@import "cmps/BoardHeader";
@import "cmps/Label";
@import "cmps/ListFooter";


//Group
@import "cmps/Group/BoardGroup";
@import "cmps/Group/BoardGroupHeader";
@import 'cmps/Group/GroupActionsMenuPopover.scss';
@import "cmps/Group/AddGroupBtn";
@import "cmps/Group/AddTaskInGroup";

//Task
@import "cmps/Task/TaskPreview";
@import "cmps/Task/TaskPreviewEditModal";


:root.dark {
    --ds-surface-overlay: #282E33;
    --ds-text-subtle: #9FADBC;
    --ds-text: rgb(182, 194, 207);
    --ds-text-disabled: #091E424F;
    --tr-background-list: #101204;
    --ds-surface-raised: #22272B;
    --ds-icon-subtle: #8C9BAB;
    --ds-icon: #9FADBC;
    --ds-background-neutral-hovered: #A6C5E229;
    --dynamic-icon: #FFFFFF;
    --dynamic-text: #FFFFFF;
    --board-header-background-color: #0000003d;
    --ds-background-neutral-subtle-hovered: #091E420F;
}

:root {
    --ds-surface-overlay: #FFFFFF;
    --ds-text-subtle: #44546F;
    --ds-text: #172B4D;
    --tr-background-list: #f1f2f4;
    --ds-surface-raised: #FFFFFF;
    --ds-icon-subtle: #626F86;
    --ds-icon: #44546F;
    --ds-background-neutral-hovered: #091E4224;
    --dynamic-icon: #FFFFFF;
    --dynamic-text: #FFFFFF;
    --board-header-background-color: #0000003d;
}