.manage-dates-popover-content {
    width: 300px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    .calendar-controller {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            border-radius: 3px;

            .injected-svg {
                width: 18px;
                height: 18px;
            }

            &:hover {
                background: var(--ds-background-neutral-subtle-hovered, #091e4214);
                color: var(--ds-text, #42526E);
            }

            &:active {
                background: var(--ds-background-neutral-subtle-pressed, #091E4224);
                color: var(--ds-text, #42526E);
            }
        }

        .next-btn {
            transform: rotate(180deg);
            margin-bottom: 2px;
        }

        .back-btn {
            padding-top: 4px;
            padding-bottom: 0;
        }

        .label {
            letter-spacing: normal;
            margin-block: 0px;
            text-transform: none;
            font: var(--ds-font-heading-xsmall, normal 600 14px / 16px ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif);
            color: var(--ds-text, #172B4D);
        }
    }

    .ant-picker-content th {
        font-size: 12px;
        font-weight: 600;
        color: #44546f;
    }

    .ant-picker-panel {
        border-top: none;
    }

    .ant-picker-content {
        height: 100%;
    }

    .ant-picker-cell {
        padding: 0;
    }

    .calendar-view__day-cell {
        width: 36px;
        height: 36px;
        border-radius: 4px;

        .date-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;
        }

        &:hover {
            background-color: #e9f2ff;
        }

        .today-indicator {
            display: block;
            width: 32px;
            height: 2px;
            border-radius: 8px;
            background-color: transparent;
        }

        &.today {
            color: #0C66E4;
            font-weight: 700;

            .today-indicator {
                background-color: #0C66E4;
            }
        }

        &.selected,
        &.in-range {
            background-color: #e9f2ff;
            color: #0C66E4;

            &:hover {
                background-color: #DEEBFF;
            }
        }

        &.in-range {
            color: #44546F;

            &.today {
                .today-indicator {
                    background-color: #44546F;
                }
            }
        }

    }

    .section-label {
        color: var(--ds-text-subtle, #44546f);
        display: block;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        margin-bottom: 4px;

        // &.selected {
        //     color: #0c66e4;
        // }
    }

    .start-date,
    .end-date {
        .input-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 16px;

            .date-checkbox {
                width: 20px;
                margin-right: 8px;

                .ant-checkbox {
                    .ant-checkbox-inner {
                        border: 1px solid #bec4ce;
                        border-radius: 2px;
                    }
                }

                .ant-checkbox-checked {
                    .ant-checkbox-inner {
                        border: 1px solid #2f77ff;
                        border-radius: 2px;
                    }
                }
            }

            .custom-input {
                width: 88px;
                margin-right: 8px;

                &.ant-input {
                    border-radius: 3px;
                    box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4224);
                    border: none;
                    padding: 4px 6px;

                    &:focus {
                        box-shadow: inset 0 0 0 2px var(--ds-border-focused, #388bff);
                    }
                }
            }

            .empty-date {
                color: #acb5c1;
                width: 88px;

                border-radius: 2px;
                padding: 4px 9px;
                background-color: #f7f8f9;

                margin-right: 8px;
            }
        }
    }

    .ant-checkbox-input {
        display: none;
    }
}