.manage-labels-content {
  width: 304px;
  padding: 0 12px 12px 12px;
  color: var(--ds-text-subtle, #44546f);
  background: var(--ds-surface-overlay, #fff);

  .labels-search-input {
    color: var(--ds-text-subtle, #44546f);

    background-color: var(--ds-background-input, #fff);
    border-radius: 3px;
    display: block;
    border: 1px solid var(--ds-border-neutral, #091e420f);
    line-height: 20px;
    margin-bottom: 12px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4224);

    &::placeholder {
      color: var(--ds-text-subtle, #44546f);
    }

    &:focus {
      border-color: var(--ds-border-primary, #0052cc);
    }
  }

  .labels-sub-title {
    font-size: 12px;
    font-weight: 600;
    color: var(--ds-text-subtle, #44546f);
  }

  .labels-list {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .lebel-full-btn {
    background-color: var(--ds-background-neutral, #091e420f);
    margin-top: 12px;
    width: 100%;
    height: 32px;
    border: none;
    color: var(--ds-text-subtle, #44546f);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  .edit-labels-page {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .edit-label-block-wrapper {
      width: calc(100% + 24px);
      height: 100px;
      background-color: var(--ds-surface-sunken, #f7f8f9);
      margin: 0 -12px;

      .disbly-label-block {
        margin: 34px;
        height: 32px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 12px;
        color: var(--label-text-color, var(--ds-text, #172b4d));

        .label-color-name {
          font-size: 14px;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .color-picker-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;

      .color-picker-option {
        width: 52px;
        height: 34px;
        border-radius: 3px;
        cursor: pointer;
      }
    }

    .label-hr {
      border-top: 1px solid #dcdfe4;
      margin: 12px 0;
    }

    .edit-label-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 4px;

      .save-button {
        width: 64px;
        height: 32px;
        border-radius: 3px;
        border: none;
        background-color: var(--ds-background-primary, #0052cc);
        color: var(--ds-text-on-primary, #fff);
      }

      .delete-button {
        width: 64px;
        height: 32px;
        border-radius: 3px;
        border: none;
        background-color: #c8372c;
        color: #fff;

        &:hover {
          background-color: #ae2e24;
        }
      }
    }
  }

  .full-delete-label-button {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: none;
    background-color: #c8372c;
    color: #fff;
  }
}

.popover-labels-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  .label-checkbox {
    margin-right: 8px;
  }

  .label-block {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 12px;
    color: var(--label-text-color, var(--ds-text, #172b4d));
    cursor: pointer;
  }

  .edit-button {
    font-size: 14;
    height: 32px;
    color: var(--ds-text);
    background-color: transparent;
    border: none;
    align-self: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;

    &:hover {
      background-color: var(--ds-background-neutral-hovered);
    }

    .injected-svg {
      width: 16px;
      height: 16px;
    }
  }
}

.manage-labels-color-name {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
