.change-members-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 4px 8px 4px 4px;
  border-radius: 3px;
  cursor: pointer;
  width: 280px;
  height: 40px;

  &:hover {
    background-color: var(--ds-background-neutral-subtle-hovered, #091e420f);
  }

  .ant-avatar {
    margin-right: 8px;
  }

  .member-option-member-name {
    font-size: 14px;
    width: 200px;
    margin-right: 8px;
  }

  .remove-member-button {
    font-size: 14;
    color: var(--ds-text);
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;

    .injected-svg {
      width: 16px;
      height: 16px;
    }
  }
}
