.task-details-labels {
    .label-list {
        display: flex;
        gap: 4px;
        flex-wrap: wrap;

        .task-details-label {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 48px;
            height: 32px;
            padding: 0 12px;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 500;
            color: #fff;
            margin: 0;
            // Allow the label to shrink
            flex-shrink: 1;
        }

        .add-label-btn {
            border: none;
            border-radius: 3px;
            width: 32px;
            height: 32px;
            background-color: var(--ds-background-neutral, #091e420f);

            &:hover {
                background-color: var(
                    --ds-background-neutral-hovered,
                    #091e4224
                );
            }

            .injected-svg {
                margin: 2px 1px 0 0;
                width: 16px;
                height: 16px;
            }
        }
    }
}
