// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
// @import "setup/typography";

@font-face {
  font-family: "trello-icons";
  src: url("./fonts/trello-icon-fonts.ttf");
}

@import "./fonts/icons.scss";

.trello-icon {
  font-family: "trello-icons";
}

// Basics
// @import "basics/helpers";
// @import "basics/layout";
@import "basics/base";
// @import "basics/links";
// @import "basics/forms";
@import "animations";
// Views
@import "views/AboutUs";
// @import "views/HomePage";
// @import "views/CarIndex";
// @import "views/ReviewIndex";
@import "views/BoardIndex";
@import "views/BoardDetails";
@import "views/UserBoards";
@import "views/HomePage";
@import "views/AuthPage";

//User
@import "views/UserProfile";
@import "cmps/UserProf/UserSettings.scss";

//Workspace
@import "cmps/Workspace/Workspace";
@import "cmps/Workspace/WorkspaceHeader";
@import "cmps/Workspace/WorkspaceMenu";
@import "cmps/Workspace/AddBoardPopover";
@import "cmps/Workspace/CloseBoardPopover";
@import "cmps/Workspace/WorkspaceProfileMenu.scss";
@import "cmps/Workspace/WorkspaceThemePopover.scss";

@import "cmps/BoardHeader/VisibilityButton.scss";
@import "cmps/BoardHeader/ViewsButton.scss";
@import "cmps/BoardHeader/FilterButton.scss";
@import "cmps/BoardHeader/BoardHeader";
@import "cmps/Task/TaskDetails.scss";
@import "cmps/AppHeader";
@import "cmps/AppFooter";
@import "cmps/UserMsg";
@import "cmps/Label";
@import "cmps/ListFooter";
@import "cmps/ProfilePopover";
@import "cmps/BoardHeader/BoardMenu/BoardMenu";
@import "cmps/BoardHeader/BoardMenu/BoardDescription";
@import "cmps/BoardHeader/AddModule";
@import "cmps/BoardHeader/ChangePermissionPopover";
@import "cmps/ActivityMsg";

//Group
@import "cmps/Group/BoardGroup";
@import "cmps/Group/BoardGroupHeader";
@import "cmps/Group/GroupActionsMenuPopover.scss";
@import "cmps/Group/AddGroupBtn";
@import "cmps/Group/AddTaskInGroup";

//Task
@import "cmps/Task/TaskPreview";
@import "cmps/Task/TaskPreviewEditModal";
@import "cmps/Task/TaskPreviewBadges";

//Task popovers
@import "cmps/Task/ManageTaskPopovers/ManageMembersPopover";
@import "cmps/Task/ManageTaskPopovers/MemberOption";
@import "cmps/Task/ManageTaskPopovers/ManageTaskPopoverHeader";
@import "cmps/Task/ManageTaskPopovers/ManageLabelsPopover";
@import "cmps/Task/ManageTaskPopovers/ManageCoverPopover";
@import "cmps/Task/ManageTaskPopovers/MoveCardPopover";
@import "cmps/Task/ManageTaskPopovers/AddCheckListPopover";
@import "cmps/Task/ManageTaskPopovers/EmojiPopover";
@import "cmps/Task/ManageTaskPopovers/ManageDatesPopover";
@import "cmps/Task/ManageTaskPopovers/MoreActionsItemPopover";

//Task details
@import "cmps/Task/TaskDetailsModal/TaskDetailsLabels.scss";
@import "cmps/Task/TaskDetailsModal/TaskDetailsMarkdown.scss";
@import "cmps/Task/TaskDetailsModal/TaskDetailsSectionHeader.scss";
@import "cmps/Task/TaskDetailsModal/TaskDetailsCheckList.scss";
@import "cmps/Task/TaskDetailsModal/TaskDetailsDates.scss";
@import "cmps/Task/ManageTaskPopovers/ManageAttachmentsPopover.scss";
@import "cmps/Task/TaskDetailsModal/TaskDetailsAttachment.scss";
//Custom Cpms
@import "cmps/CustomCpms/StarBoardBtn";
@import "cmps/CustomCpms/CustomSelect";
@import "cmps/CustomCpms/NameInput.scss";
@import "cmps/CustomCpms/CheckBox.scss";
@import "cmps/Popup.scss";

:root.dark {
  --ds-surface-overlay: #282e33;
  --ds-text-subtle: #9fadbc;
  --ds-text: rgb(182, 194, 207);
  --ds-text-inverse: #1d2125;
  --ds-text-disabled: #bfdbf847;
  --tr-background-list: #101204;
  --ds-surface-raised: #22272b;
  --ds-icon-subtle: #8c9bab;
  --ds-icon: #9fadbc;
  --ds-background-neutral-hovered: #a6c5e229;
  --dynamic-icon: #ffffff;
  --dynamic-text: #ffffff;
  --dynamic-header-text: #ffffff;
  --board-header-background-color: #0000003d;
  --ds-background-neutral-subtle-hovered: #091e420f;
  --ds-icon-disabled: #bfdbf847;
  --ds-background-input: #22272b;
  --ds-border-input: #738496;
  --ds-background-input-hovered: #282e33;
  --ds-border-disabled: #a1bdd914;
  --ds-background-neutral: #a1bdd914;
  --ds-background-accent-gray-subtler: #454f59;
  --ds-background-brand-bold: #579dff;
  --ds-border: #a6c5e229;
  --ds-background-neutral-subtle-hovered: #a1bdd914;
  --ds-background-selected-hovered: #09326c;
  --ds-text-subtlest: #8c9bab;
  --ds-background-brand-bold-hovered: #85b8ff;
  --ds-shadow-overlay: 0px 0px 0px 1px #39424a, 0px 8px 12px #0304045c,
    0px 0px 1px 1px #03040480;
  --ds-background-success-bold: #4bce97;
  --ds-surface: #1d2125;
  --ds-header-border: hsla(211, 18%, 68%, 0.16);
  --dynamic-background: var(--ds-surface, #ffffff);
  --ds-background-selected: #1c2b41;
  --ds-icon-inverse: #1d2125;
  --ds-text-selected: #579dff;
  --ds-background-disabled: #bcd6f00a;
  --ds-surface-sunken: #161a1d;
  --ds-link: #579dff;
  --ds-surface-raised-hovered: #f1f2f4;
  --ds-background-warning: #332e1b;
  *:-webkit-autofill {
    color-scheme: dark !important;
  }

  input {
    color-scheme: dark !important;
  }
}

:root {
  --dynamic-background: var(--ds-surface, #ffffff);
  --tr-background-list: #f1f2f4;
  --dynamic-icon: #ffffff;
  --dynamic-text: #ffffff;
  --dynamic-header-text: #ffffff;
  --board-header-background-color: #0000003d;
  --header-button-hovered: var(
    --dynamic-button-hovered,
    rgba(255, 255, 255, 0.3)
  );
  --ds-surface: #ffffff;
  --ds-surface-raised-hovered: #f1f2f4;
  --header-button-color: var(--ds-text-subtle, #44546f);
  --create-menu-button-background: rgba(255, 255, 255, 0.2);
  --create-menu-button-background-hovered: rgba(255, 255, 255, 0.3);
  --create-menu-button-background-active: rgba(255, 255, 255, 0.3);
  --ds-surface-overlay: #ffffff;
  --ds-text-subtle: #44546f;
  --ds-text: #172b4d;
  --ds-text-inverse: #ffffff;
  --ds-text-disabled: #091e424f;
  --ds-surface-raised: #ffffff;
  --ds-icon-subtle: #626f86;
  --ds-icon: #44546f;
  --ds-background-neutral-hovered: #091e4224;
  --ds-icon-disabled: #091e424f;
  --ds-background-disabled: #bcd6f00a;
  --ds-background-input: #ffffff;
  --ds-border-input: #8590a2;
  --ds-background-input-hovered: #f7f8f9;
  --ds-background-neutral-subtle-hovered: #091e420f;
  --ds-background-disabled: #091e4208;
  --ds-background-neutral: #091e420f;
  --ds-background-accent-gray-subtler: #dcdfe4;
  --ds-background-brand-bold: #0c66e4;
  --ds-border: #091e4224;
  --ds-background-neutral-subtle-hovered: #091e420f;
  --ds-background-selected-hovered: #cce0ff;
  --ds-text-subtlest: #626f86;
  --ds-background-brand-bold-hovered: #0055cc;
  --ds-shadow-overlay: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  --dynamic-text-transparent: hsla(0, 0%, 100%, 0.16);
  --dynamic-background-transparent: hsla(40, 89.6%, 26.2%, 0.9);
  --ds-background-success-bold: #1f845a;
  --ds-background-selected: #e9f2ff;
  --ds-icon-inverse: #ffffff;
  --ds-text-selected: #0c66e4;
  --ds-background-disabled: #091e4208;
  --ds-surface-sunken: #f7f8f9;
  --ds-link: #0c66e4;
  --ds-background-warning: #fff7d6;
}
